body {
    background-image: url(https://mcdn.wallpapersafari.com/medium/99/56/HlSBo4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    background-color: rgba(0,0,0,.5);
    color: #fff;
   
    

}


.Nav {
    list-style-type: none;
    text-align: center;
    color: rgb(147, 143, 13);
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline;

}